@import '../../common/colors.scss';

.footer {
    background: $secondary-color;
    height: 72px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: $font-primary;
    flex-direction: column;
    position: fixed;
    bottom: 0;

    .logo {
        cursor: pointer;
        color: $font-primary;
        font-size: 13px;
        transition: all 0.3s ease;

        &:hover {
            color: $font-secondary;
        }
    }

    p {
        font-size: 15px;
    }
}